@font-face {
    font-family: 'nunito';
    src: url('./font/Nunito-Regular.ttf');
}

* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    font-family: 'nunito';
}

.w-100 {
    width: 100%;
}

.w-1140 {
    width: 1240px;
    margin: auto;
}

.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

#color-border {
    border-bottom: 1px solid rgba(0, 0, 0, 0.447);
}

.nav-img img {
    width: 130px;
    height: auto;
    display: inline-block;
    padding: 0px !important;
}

#navbarDropdown {
    font-weight: 600 !important;
    padding-left: 30px;

}

#navbarDropdown:hover {
    color: darkcyan;
}

.dropdown-item {
    font-weight: 600 !important;
    margin-top: 5px;
}


.text-left{
    text-align: left;
}

.dropdown-menu li a:hover {
    color: darkcyan;
    background-color: transparent;
}

.buy-button {
    background-color: darkcyan;
    border: none;
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 30px;
    color: white;
    width: 120px;

}

.flex-j-end {

    justify-content: end;
}


.navbar-nav {
    justify-content: left;
}

.dropdown-menu.show {
    border: none !important;
    margin-top: 5px;
}

.navbar-light .navbar-toggler {
    margin: 15px !important;
}

.nav-link .dropdown-toggle {
    text-align: center;
}

.dropdown-menu.show {
    margin-left: 15px;
}

.navbar-toggler-icon {
    font-weight: bold;
}

.postion-fixed {
    position: fixed;
    z-index: 1;
}

.gay-p-color {
    color: rgba(33, 37, 41, .75);
}

.mar-nav-150 {
    margin-left: 300px;
}

.pos-ab{
    position: absolute;
}

.pt-80px{
    padding-top: 80px;
}

.pb-80px{
    padding-bottom: 80px;
}
/* navbar end */